.header{
    height: 34vw;
    margin: 30px auto;
    background: url('./header_image.jpg') no-repeat;
    /* the source of url is from the public folder */
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    /* sets the font size of an element to either 4.5% of the viewport width or 22 pixels, whichever value is larger */
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #282727;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw
    }
}
